.Apod-info {
    margin-top: 100px;
}

h2{
    color:#60219b
}

.Apod--explanation {
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
}

.ImagenDelDía{
    height: 600px;
    border-radius: 15px;
}